<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Milestone</title>
</head>
<body>
    <div class="container-sm">
        <div style="border: 2px solid #000000; margin-top: 10px;">
            <form method="POST" action="/AddMilestone" style="text-align: center; margin: 10px;">
                <img src="https://via.placeholder.com/400x200?text=Project+Planner+Logo" style="margin-top: 10px;">
                <div class="form-group" style="text-align: left;">
                    <label for="milestoneName">Milestone Name</label>
                    <input type="text" class="form-control" id="milestoneName" name="milestoneName">
                </div>
                <div class="form-group" style="text-align: left;">
                <label for="description">Milestone Description</label>
                <input type="text" class="form-control" id="description" name="description">
                <label for="dueDate">Milestone Description</label>
                <input type="date" class="form-control" id="dueDate" name="dueDate">
                <label for="dueComplete">Milestone Description</label>
                <input type="date" class="form-control" id="completionDate" name="completionDate">
                <input type="hidden" id="projectid" name="projectid" value={_id}>
                </div>
                <button type="submit" class="btn btn-primary">Add Milestone</button>
            </form>
        </div>
    </div>
</body>
</html>