<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Task</title>
</head>
<body>
    <div class="container-sm">
        <div style="border: 2px solid #000000; margin-top: 10px;">
            <form method="POST" action="/AddTask" style="text-align: center; margin: 10px;">
                <img src="https://via.placeholder.com/400x200?text=Project+Planner+Logo" style="margin-top: 10px;">
                <div class="form-group" style="text-align: left;">
                    <label for="TxtTaskName">Task Name</label>
                    <input type="text" class="form-control" id="TxtTaskName">
                </div>
                <div class="form-group" style="text-align: left;">
                <label for="TxtTaskDesc">Task Description</label>
                <input type="text" class="form-control" id="TxtTaskDesc">
                <label for="TxtTaskDue">Task Due</label>
                <input type="date" class="form-control" id="TxtTaskDue">
                <label for="TxtTaskComplete">Task Complete</label>
                <input type="date" class="form-control" id="TxtTaskComplete">
                </div>
                <button type="submit" class="btn btn-primary">Add Task</button>
            </form>
        </div>
    </div>
</body>
</html>