<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<h2>Home Page</h2>
<body class="container">
    <h1>{{title}}</h1>
    <div class="text-right">
    <a href="/Logout" class="btn btn-primary">
            Logout
        </a>
    </div>
    <div class="text-right">
        <a href="/UpdateUser" class="btn btn-primary">
            Update User
        </a>
    </div>

    <div class="text-right">
        <a href="/RemoveUser" class="btn btn-primary">
            Delete Account
        </a>
    </div>

    <div class="text-right">
        <a href="/AddProject" class="btn btn-primary">
            Create a Project
        </a>
    </div>

    <div class="text-right">
        <a href="/ShareProject" class="btn btn-primary">
            View Shared Project
        </a>
    </div>

    {{#entries}}
    <div style = "border: solid 1px #000000">
        <div class="panel panel-default" data-id="{{id}}">
            <div class="panel-heading">
                <div>
                    Projecttitle: {{projectTitle}}
                </div>
            </div>

            <div class="panel-body">
                Modulename: {{modulename}}
            </div>

            <div class="panel-body">
                Description: {{description}}
            </div>
            <div class="panel-heading">
                <div>
                Is private: {{isPrivate}}
                </div>
            </div>

            <div class="panel-body">
                ShareLink: {{shareLink}}
            </div>

            <div class="panel-body">
                Due date: {{dueDate}}
            </div>

            <div class="panel-body">
                Complete date: {{completionDate}}
            </div>

            <a href="/ViewProject/{{_id}}"> View Project </a> | <a href="/UpdateProject/{{_id}}"> Update Project </a> |  <a href="/RemoveProject/{{_id}}"> Remove Project </a>
        </div>
    </div>
        <br><br>
    {{/entries}}
</body>

</html>