<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<h2>Home Page</h2>
<body class="container">
    <h1>{{title}}</h1>
    <div class="text-right">
    <a href="/Logout" class="btn btn-primary">
            Logout
        </a>
    </div>
    <div class="text-right">
        <a href="/UpdateUser" class="btn btn-primary">
            Update User
        </a>
    </div>

    <div class="text-right">
        <a href="/RemoveUser" class="btn btn-primary">
            Delete Account
        </a>
    </div>

    <div class="text-right">
        <a href="/AddProject" class="btn btn-primary">
            Create a Project
        </a>
    </div>
      <div class="text-right">
        <a href="/UpdateProject" class="btn btn-primary">
            Edit a Project
        </a>
    </div>
      <div class="text-right">
        <a href="/RemoveProject" class="btn btn-primary">
            Delete a Project
        </a>
    </div>

    {{#entries}}
        <div class="panel panel-default" data-id="{{id}}">
            <div class="panel-heading">
                <div>
                    {{projectTitle}}
                </div>
            </div>

            <div class="panel-body">
                {{modulename}}
            </div>

            <div class="panel-body">
                {{description}}
            </div>
            <div class="panel-heading">
                <div>
                    {{isPrivate}}
                </div>
            </div>

            <div class="panel-body">
                {{shareLink}}
            </div>

            <div class="panel-body">
                {{dueDate}}
            </div>

            <div class="panel-body">
                {{completionDate}}
            </div>
        </div>
        <br><br>
    {{/entries}}

</body>

</html>