<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
    {{title}}
    <h2>New User Registration</h2>

    <form id="registerForm" method="POST" action="/Register">
        <div class="form-group">
            {{user-name-error}}
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name"
                required>
        </div>
        <div class="form-group">
            <label for="password">Password (8 characters minimum)</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" minlength="8"
                required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" 
                required>
        </div>
        <!--<div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>-->
    </form>
    <div class="text-right" style="margin-bottom: 1em;">
        {{^user}}
            <span>
                <button type="submit" form="registerForm">Register</button>
            </span>
        {{/user}}
    </div>
</body>
</html>