<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Account Delete</title>
</head>
<body class="container">
    {{title}}
    <h2>Account Deletion</h2>

    <form id="deleteUserForm" method="POST" action="/RemoveUser">
        <div class="form-group">
            <label for="userConfirmDelete">Enter your User Name: </label>
            <input type="text" class="form-control" id="userConfirmDelete" name="userConfirmDelete" placeholder="Enter user name"
                required value="">
        </div>
    </form>

    <div class="text-right" style="margin-bottom: 1em;">
        {{^user}}
            <span>
                <button type="submit" form="deleteUserForm">Delete Account</button>
            </span>
        {{/user}}
    </div>
</body>
</html>